html, body {
	background-color: $silver;
	display: block;
	height: 100%;
	font-family: 'Source Code Pro', ;
	font-weight: bold;
	color: $almost-black;
	position: relative;
}

body {
	margin-top: 50px;
}

.status-alerts {
	position: fixed;
	z-index: 9000;
	width: 90%;
	left:5%;
	text-align: center;
	top: 60px;
}

.navbar-brand, .navbar-txt {
	padding-top: 6px;
}

body.unauthorized {
  background: url('../images/401.gif') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}