<script id="imagesgroupstemplate" type="text/html">
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#privImages">
          Private Images
        </a>
      </h4>
    </div>
    <div id="privImages" class="panel-collapse collapse in">
      <div class="panel-body">
        {{#privimages}}
        <div class="alert alert-info">
          <div class="clearfix row">
            <div class="col-md-8">
              <h4>
                {{name}}
              </h4>
              <div>
                Image named <strong>{{name}}</strong> built from distribution <strong>{{distribution}}</strong>
              </div>
            </div>
            <div class="col-md-4">
              <dl class="dl-horizontal clearfix">
                <dt style="width: 50px;"><small>Public</small></dt>
                <dd style="margin-left: 70px;"><small>{{public}}</small></dd>
                <dt style="width: 50px;"><small>Slug</small></dt>
                <dd style="margin-left: 70px;"><small>{{slug}}</small></dd>
              </dl>
            </div>
          </div>

          <div class="clearfix row">
            <div class="col-md-12">
              {{#regions}}
              <span style="width: 31%" class="glyphicon glyphicon-flag"> {{.}}</span>
              {{/regions}}
            </div>
          </div>

        </div>
        {{/privimages}}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#pubImages">
          Public Images
        </a>
      </h4>
    </div>
    <div id="pubImages" class="panel-collapse collapse">
      <div class="panel-body">
        {{#pubimages}}
        <div class="alert alert-info">
          <div class="clearfix row">
            <div class="col-md-8">
              <h4>
                {{name}}
              </h4>
              <div>
                Image named <strong>{{name}}</strong> built from distribution <strong>{{distribution}}</strong>
              </div>
            </div>
            <div class="col-md-4">
              <dl class="dl-horizontal clearfix">
                <dt style="width: 50px;"><small>Public</small></dt>
                <dd style="margin-left: 70px;"><small>{{public}}</small></dd>
                <dt style="width: 50px;"><small>Slug</small></dt>
                <dd style="margin-left: 70px;"><small>{{slug}}</small></dd>
              </dl>
            </div>
          </div>


          <div class="clearfix row">
            {{#regions}}
            <label style="width: 31%" class="radio-inline">
              <span class="glyphicon glyphicon-flag"> {{.}}</span>
            </label>
            {{/regions}}
          </div>


        </div>
        {{/pubimages}}
      </div>
    </div>
  </div>
</div>
</script>
