<script id="newdroplettemplate" type="text/html">
  <div class="modal-body">
    <form id="new-droplet-form" class="form-horizontal" role="form" action="https://api.digitalocean.com/v2/droplets" method="post" data-remote="true" data-type="json" data-with-credentials="true">
      <input type="text" class="form-control" placeholder="Droplet Name" name="name" required autofocus>
      {{#regions}}
      <div class="radio">
        <label>
          <input type="radio" name="region" id="regionRadio{{name}}" value="{{name}}">
          {{name}}
        </label>
      </div>
      {{/regions}}
      {{#sizes}}
      <div class="radio">
        <label>
          <input type="radio" name="size" id="regionSize{{name}}" value="{{name}}">
          {{name}}
        </label>
      </div>
      {{/sizes}}
      <input type="text" class="form-control" placeholder="Image" name="image" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          Backups Enabled
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
  </div>
</script>
