<div class="well">
  <form name="nuDroplet" role="form" ng-submit="submitForm(nuDroplet.$valid)" novalidate>
    <input type="text" class="form-control" placeholder="Droplet Name" ng-model="droplet.name" autocomplete="off" autofocus required>

    <div class="row"><div class="col-sm-12">Regions</div></div>
    <div class="row">
      <div class="col-sm-2" ng-repeat="region in regions">
        <label class="btn" ng-model="droplet.region" btn-radio="'{{region.slug}}'" style="width: 100%; color: #000!important;" ng-class="{'btn-info':droplet.region==region.slug}" required>
          <span class="glyphicon glyphicon-flag popover-trigger">
            {{region.slug}}
          </span>
        </label>
      </div>
    </div>

    <div class="row"><div class="col-sm-12">Sizes</div></div>
    <div class="row">
      <div class="col-sm-2" ng-repeat="size in sizes">
        <label class="btn" ng-model="droplet.size" btn-radio="'{{size.slug}}'" style="width: 100%; color: #000!important;" ng-class="{'btn-info':droplet.size==size.slug}" required>
          <span class="glyphicon glyphicon-cog popover-trigger">
            {{size.slug}}
          </span>
        </label>
      </div>
    </div>

    <div class="row"><div class="col-sm-12">Options</div></div>
    <div class="row">
      <div class="col-sm-2">
        <label class="btn" ng-model="droplet.ipv6" style="width: 100%; color: #000!important;" ng-class="{'btn-info':droplet.ipv6}" btn-checkbox>
          <span class="glyphicon glyphicon-cog popover-trigger">
            ipv6
          </span>
        </label>
      </div>
      <div class="col-sm-2">
        <label class="btn" ng-model="droplet.backups" style="width: 100%; color: #000!important;" ng-class="{'btn-info':droplet.backups}" btn-checkbox>
          <span class="glyphicon glyphicon-cog popover-trigger">
            Backups
          </span>
        </label>
      </div>
    </div>

    <div class="row"><div class="col-sm-12">Image</div></div>
    <div class="row">
      <div class="col-sm-12">
        <select name="image" class="form-control" ng-options="image.name for image in images" ng-model="droplet.image" required></select>
      </div>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
  </form>
</div>
