<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class='center-block'>
      <a href="/" class="navbar-brand">Welcome to the <br>Digital Ocean Manager</a>
    </div>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <p class="navbar-text" ng-if="rateLimit.limit>0">{{rateLimit.limit}} requests left</p>
    <form name='list-droplets' class="navbar-form navbar-right" role="search" method="get">
      <div class="form-group">
        <label class="sr-only" for="oauthToken">OAuth Token</label>
        <input type="text" class="form-control" ng-model="auth.personalToken" ng-keyup="updateAuth(personalToken)" placeholder="Enter OAuth Token" style="width: 275px;" autocomplete="off">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="rememberCreds" ng-model="auth.toggleAuthStorage" ng-click="storeAuth()"> remember these
        </label>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown"><span class='toggle-text'>List What?</span> <b class="caret"></b></button>
        <ul class="dropdown-menu">
          <li><a name="list-droplets" href='#/droplets'>Droplets</a></li>
          <li><a name="list-images" href='#/images'>Images</a></li>
          <!-- <li><a name="list-keys" href='#/keys'>Keys</a></li> -->
          <!-- <li><a name="list-domains" href='#/domains'>Domains</a></li> -->
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->

</div><!-- /.container -->
